a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 90px;
    background-image: url(../img/top.png);
    background-size: auto 100%;
}

.header .headerBox {
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .headerBox .headerLogo {
    width: 140px;
    height: 50px;
    margin-left: 28px;
}

.header .headerBox .headerLogo img {
    width: 100%;
    height: 100%;
}

.header .headerBox .headerNavBox {
    width: auto;
    line-height: 90px;
}

.header .headerBox .qfNavListBox {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
}

.header .headerBox .navList {
    display: inline-block;
    margin: 0 20px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.active {
    color: #237b63;
    border-bottom: 4px solid #237b63;
}

.headerSearchBox {
    width: 322px;
    height: 33px;
    border: 1px solid #237b63;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

/* .headerSearchBox p {
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(26, 26, 26, 1);
    line-height: 33px;
    padding-left: 14px;
}

.inputBox {
    float: left;
    margin-left: 8px;
    width: 218px;
    height: 30px;
}

.headerSearchBox .buttonBox {
    float: left;
    width: 40px;
    height: 30px;
    color: #1a1a1a;
    font-size: 8px;
    cursor: pointer;
} */

.headerSearchBox .el-input__inner {
    height: 30px !important;
    line-height: 30px !important;
    font-size: 8px !important;
}

.loginStatus {
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
}

.loginStatus p {
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(26, 26, 26, 1);
    line-height: 33px;
    padding-left: 14px;
}

.loginStatus .inputBox {
    float: left;
    margin-left: 8px;
    width: 218px;
    height: 30px;
}

.loginStatus .buttonBox {
    float: left;
    width: 40px;
    height: 30px;
    color: #1a1a1a;
    font-size: 8px;
    cursor: pointer;
}

.loginStatus .el-input__inner {
    height: 30px !important;
    font-size: 8px !important;
    line-height: 30px !important;
}

.footer {
    width: 100%;
}

.footerTop {
    width: 1000px;
    margin: 0 auto;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #000;
    font-size: 14px;
    background-color: #f4f2f2;
}

.footerTop span {
    padding: 0 10px;
}

.footetButtom {
    width: 1000px;
    margin: 0 auto;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    color: rgba(4, 101, 97, 1);
    background: #9eccc8;
}

.paginationBox {
    height: 40px;
}

.paginationBox .el-pagination {
    float: right
}

.paginationBox .active {
    background-color: #237b63 !important
}

.pageBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.textButton{
    height: 22px;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-color: #237b63;
    border-radius: 2px;
    cursor: pointer;
}
/* .buttonBox{
    background-color: #237b63;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 90px;
    border-radius: 4px;
    margin-top: 20px;
} */