.notiveDetails{
    width: 1000px;
    margin: 0 auto;
}


.notiveDetails .contentBox{
    padding: 27px 16px;
    width: calc(100% - 36px);
    background-image: url(../img/contentBeijing.png);
    background-size: 100% 100%;
    position: relative
}

.notiveDetails .contentBox .title{
    font-size: 18px;
    text-align: center;
    padding-bottom: 12px;
    font-weight: 550;
    border-bottom: 1px solid #c4c4c4
}

.notiveDetails .contentBox .title .date{
    font-size: 10px;
    color: #282828;
    text-align: right
}

.notiveDetails .contentBox .content{
    line-height: 25px;
    padding: 30px 20px;
    padding-bottom: 70px
}

.notiveDetails .contentBox .footerContent{
    font-size: 12px;
    color: #39f;
    font-weight: 550;
    padding: 10px 20px;
    cursor: pointer
}