<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/browser.min.js"></script>
    <script src="./js/polyfill.min.js"></script>
    <link rel="stylesheet" href="./css/chunk.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/element.css">
    <script src="./js/vue.min.js"></script>
    <script src="./js/element.js"></script>
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/jquery.cookie.js"></script>
    <title>登录页</title>
</head>

<body>
    <div id="app">
        <div class="register">
            <div class="registerTop">
                <div style=" display: flex;
                flex-direction: row;
                align-items: center;">
                    <div class="logo">
                        <img src="./img/logo.png" alt="">
                    </div>
                    <p class="p1">电猫网信息共享平台</p>
                    <p class="p2">{{textSatus}}</p>
                </div>

            </div>
            <div class="registerContent">
                <!-- 用户登录 -->
                <div class="content">
                    <div class="contentTop">
                        <p style="border-right: 1px solid #3B7764;" :class="{pActive:tabActive}" @click="switchTab(0)">
                            微信登录
                        </p>
                        <p @click="switchTab(1)" :class="{pActive:!tabActive}">帐号登录</p>
                    </div>
                    <!-- 帐号登录 -->
                    <div class="contentForm" ref="contentForm">
                        <el-form :model="loginInfo" ref="loginInfo" :rules="rulesAccount">
                            <li class="textList">
                                <div style="width: 24px;height: 24px;">
                                    <img src="./img/accound.png" alt="">
                                </div>
                                <div class="selectBox">
                                    <el-form-item prop="userName">
                                        <el-input type="text" v-model="loginInfo.userName" autocomplete="off"
                                            style="width: 270px;" placeholder="请输入手机号"></el-input>
                                    </el-form-item>
                                </div>
                            </li>
                            <li class="textList">
                                <div style="width: 24px;height: 24px;">
                                    <img src="./img/password.png" alt="">
                                </div>
                                <div class="selectBox">
                                    <el-form-item prop="password">
                                        <el-input type="text" v-model="loginInfo.password" autocomplete="off"
                                            style="width: 270px;" placeholder="请输入密码" show-password></el-input>
                                    </el-form-item>
                                </div>
                            </li>
                            <li class="textList" style="border: none;">
                                <div class="code" style="margin:0 auto">
                                    <div id="captcha"></div>
                                </div>
                            </li>
                        </el-form>
                        <li class="textList" style="border: none;margin-top: 0;">
                            <div class="buttonBox" @click="loginFn('loginInfo')">
                                登录
                            </div>
                        </li>
                        <li class="textList"
                            style="justify-content: space-between;border: none;color:#ccc;margin-top: 0;">
                            <p style="cursor: pointer;" @click="goRegister">立即注册</p>
                            <p @click=" forgetPasswordFn" style="cursor: pointer;">忘记密码？</p>
                        </li>
                    </div>
                    <!-- 微信扫码 -->
                    <div class="codeBox" ref="codeBox">
                        <div class="code">
                            <img src="./img/ewm.png" alt="">
                        </div>
                        <p style="width: 100%;text-align: center;font-size: 16px;color: #000;">打开微信，扫码登陆</p>
                    </div>
                </div>


            </div>
            <div class="footer" style="width: 100%;">
                <div class="footerTop" style="width: 100%;background-color: transparent;">
                    <span>联系我们</span>
                    <span>法律援助</span>
                </div>
                <div class="footetButtom" style="width: 100%;">电猫网信息共享平台 http://dianmao.com 版权所有 Copyright @
                    2003-2020
                    State
                    Grid Corporation
                    of
                    China（SGCC）.All rights reserved</div>
            </div>
        </div>

    </div>

    <script type="text/babel">
        new Vue({
            el: '#app',
            data() {
                return {
                    textSatus: '用户登录',
                    tabActive: false,  //帐号登录状态
                    loginInfo: {},
                    rulesAccount: {
                        userName: [
                            { required: true, message: '请输入帐号', trigger: 'blur' },
                        ], password: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                        ],
                    },
                    passwordType: 1
                };
            },
            computed: {},
            creted() { },
            components: {
            },
            mounted() {

            },
            watch() {

            },
            methods: {
                //登陆方式
                switchTab(index) {
                    this.tabActive = !this.tabActive
                    if (index == 0) {
                        this.$refs.codeBox.style.display = 'block'
                        this.$refs.contentForm.style.display = 'none'
                    } else {
                        this.$refs.codeBox.style.display = 'none'
                        this.$refs.contentForm.style.display = 'block'
                    }

                },
                // 忘记密码
                forgetPasswordFn() {
                    window.location.href = "password.html"
                },
                //进入注册页面
                goRegister() {
                    window.location.href = "register.html"
                },
                //登录
                loginFn(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            //登录方法成功后
                            window.location.href = "index.html"
                            $.cookie('token', '1234567890')
                            $.cookie('vip', 'no')
                            $.cookie('loginName', 'andy')
                            // this.$message.error('登录失败报错原因');
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                }

            }

        })
    </script>
    <script src="./js/jigsaw.min.js" type="text/babel"></script>
    <script type="text/babel">
        var jigsaws = jigsaw.init({
            el: document.getElementById('captcha'),
            width: 400, // 可选, 默认310
            height: 90, // 可选, 默认155
            onSuccess: function () {

            },
            onFail: cleanMsg,
            onRefresh: function () {
            },
        })
        function cleanMsg() {
        }

    </script>
</body>

</html>