<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/browser.min.js"></script>
    <script src="./js/polyfill.min.js"></script>
    <link rel="stylesheet" href="./css/chunk.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/element.css">
    <script src="./js/vue.min.js"></script>
    <script src="./js/element.js"></script>
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/jquery.cookie.js"></script>
    <title>忘记密码</title>
</head>

<body>
    <div id="app">
        <div class="register">
            <div class="registerTop">
                <div style=" display: flex;
                flex-direction: row;
                align-items: center;">
                    <div class="logo">
                        <img src="./img/logo.png" alt="">
                    </div>
                    <p class="p1">电猫网信息共享平台</p>
                    <p class="p2">{{textSatus}}</p>
                </div>

            </div>
            <div class="registerContent">

                <!-- 忘记密码 -->
                <div class="content">
                    <!-- 确认手机号 -->
                    <div v-if="passwordType == 1"
                        style="width: 100%;display: flex;flex-direction: column;justify-content: center;">
                        <p style="width: 100%;text-align: center;font-size: 24px;color: #3B7764;">确认手机号</p>
                        <el-form :model="loginInfo" ref="loginInfo" :rules="rulesAccount">
                            <li class="textList">
                                <div style="width: 24px;height: 24px;">
                                    <img src="./img/accound.png" alt="">
                                </div>
                                <div class="selectBox">
                                    <el-form-item prop="phone">
                                        <el-input type="text" v-model="loginInfo.phone" autocomplete="off"
                                            style="width: 270px;" placeholder="请输入手机号"></el-input>
                                    </el-form-item>
                                </div>
                            </li>
                            <li class="textList" style="border: none;">
                                <div class="code" style="margin:0 auto">
                                    <div id="captcha" v-show="passwordType == 1"></div>
                                </div>
                            </li>
                        </el-form>
                        <li class="textList" style="border: none;margin-top: 0;">
                            <div class="buttonBox" @click="nextFn('loginInfo',2)">
                                下 一 步
                            </div>
                        </li>
                    </div>
                    <!-- 获取验证码 -->
                    <div v-else-if="passwordType == 2"
                        style="width: 100%;display: flex;flex-direction: column;justify-content: center;">
                        <p style="width: 100%;text-align: center;font-size: 24px;color: #3B7764;">验证手机号</p>
                        <el-form :model="loginInfo" ref="loginInfo" :rules="rulesAccount">
                            <li class="textList">
                                <div style="width: 24px;height: 24px;">
                                    <img src="./img/accound.png" alt="">
                                </div>
                                <div class="selectBox">
                                    <el-form-item prop="phone">
                                        <el-input type="text" v-model="loginInfo.phone" autocomplete="off"
                                            style="width: 270px;" placeholder="请输入手机号"></el-input>
                                    </el-form-item>
                                </div>
                            </li>
                            <li class="textList" style="width:380px;margin: 6% auto;">
                                <div class="selectBox">
                                    <el-form-item prop="code" style="width: 50%;float: left;">
                                        <el-input type="text" v-model="loginInfo.code" autocomplete="off"
                                            style="width: 220px;" placeholder="请输入验证码"></el-input>
                                    </el-form-item>
                                </div>
                                <div style="float: right;">
                                    <el-button type="primary"
                                        style="margin-left:10px;float: right;background-color: #3B7764;" v-show="show"
                                        @click="getCode">
                                        获取验证码</el-button>
                                    <el-button plain style="margin-left:10px;float: right;" v-show="!show" disabled>
                                        ({{count}}) S重新获取</el-button>
                                </div>
                            </li>
                        </el-form>
                        <li class="textList" style="border: none;margin-top: 0;">
                            <div class="buttonBox" @click="nextFn('loginInfo',3)">
                                下 一 步
                            </div>
                        </li>
                    </div>
                    <!-- 设置新密码 -->
                    <div v-else-if="passwordType == 3"
                        style="width: 100%;display: flex;flex-direction: column;justify-content: center;">
                        <p style="width: 100%;text-align: center;font-size: 24px;color: #3B7764;">设置新密码</p>
                        <el-form :model="loginInfo" ref="loginInfo" :rules="rulesAccount">
                            <li class="textList" style="width:380px;margin: 6% auto;">
                                <div style="width: 24px;height: 24px;">
                                    <img src="./img/password.png" alt="">
                                </div>
                                <div class="selectBox">
                                    <el-form-item prop="newPassword">
                                        <el-input type="password" v-model="loginInfo.newPassword" style="width: 340px;"
                                            autocomplete="off" show-password placeholder="请输入新密码"></el-input>
                                    </el-form-item>
                                </div>
                            </li>
                            <li class="textList" style="width:380px;margin: 6% auto;">
                                <div style="width: 24px;height: 24px;">
                                    <img src="./img/password.png" alt="">
                                </div>
                                <div class="selectBox">
                                    <el-form-item prop="passwordTwo">
                                        <el-input type="password" v-model="loginInfo.passwordTwo" style="width: 340px;"
                                            autocomplete="off" show-password placeholder="请确认新密码">
                                        </el-input>
                                    </el-form-item>
                                </div>
                            </li>
                        </el-form>
                        <li class="textList" style="border: none;margin-top: 0;">
                            <div class="buttonBox" @click="nextFn('loginInfo',4)">
                                下 一 步
                            </div>
                        </li>
                    </div>
                    <!-- 设置成功 -->
                    <div v-else-if="passwordType == 4"
                        style="width: 100%;display: flex;flex-direction: column;justify-content: center;">
                        <p style="width: 100%;text-align: center;font-size: 24px;color: #3B7764;">恭喜您，设置成功</p>
                        <li class="textList" style="border: none;margin-top:60px;">
                            <div class="buttonBox" @click="goLogin">
                                立即登录
                            </div>
                        </li>
                    </div>
                </div>

            </div>
            <div class="footer" style="width: 100%;">
                <div class="footerTop" style="width: 100%;background-color: transparent;">
                    <span>联系我们</span>
                    <span>法律援助</span>
                </div>
                <div class="footetButtom" style="width: 100%;">电猫网信息共享平台 http://dianmao.com 版权所有 Copyright @
                    2003-2020
                    State
                    Grid Corporation
                    of
                    China（SGCC）.All rights reserved</div>
            </div>
        </div>

    </div>

    <script type="text/babel">
        new Vue({
            el: '#app',
            data() {
                var validatePass = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请输入密码'));
                    } else {
                        if (this.loginInfo.passwordTwo !== '') {
                            this.$refs.loginInfo.validateField('passwordTwo');
                        }
                        callback();
                    }
                };
                var validatePass2 = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请再次输入密码'));
                    } else if (value !== this.loginInfo.newPassword) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                return {
                    textSatus: '用户登录',
                    show: true,
                    count: '',
                    timer: null,
                    loginInfo: {
                        phone: '',   //手机号
                        code: '',       //验证码
                        newPassword: '',  //新密码
                        passwordTwo: ''   //确认密码
                    },
                    rulesAccount: {
                        phone: [
                            { required: true, message: '请输入手机号', trigger: 'blur' },
                        ], code: [
                            { required: true, message: '请输入验证码', trigger: 'blur' },
                        ],
                        newPassword: [
                            { validator: validatePass, trigger: 'blur' }
                        ],
                        passwordTwo: [
                            { validator: validatePass2, trigger: 'blur' }
                        ],

                    },

                    passwordType: 1
                };
            },
            computed: {},
            creted() { },
            components: {
            },
            mounted() {

            },
            watch() {

            },
            methods: {
                //一步一步操作
                nextFn(formName, index) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            if (index == 2) {
                                this.passwordType = index   //放在成功请求后
                                document.getElementById('codeBox').style.display = 'none'
                                // 获取验证码弹框
                            } else if (index == 3) {
                                this.passwordType = index   //放在成功请求后
                                // 验证验证码
                                this.$message.success('验证通过！');   //验证码正确  
                                // this.$message.error('请输入正确的验证码！');   //验证码错误爆出
                            } else if (index == 4) {
                                this.passwordType = index   //放在成功请求后
                                // this.$message.error('抛出报错原因');   //密码修改失败
                                //提交新密码
                            }
                        } else {
                            return false;
                        }
                    });

                },
                //获取验证码
                getCode() {
                    var _this = this
                    const TIME_COUNT = 60;
                    if (!this.timer) {
                        this.count = TIME_COUNT;
                        this.show = false;
                        this.timer = setInterval(() => {
                            if (this.count > 0 && this.count <= TIME_COUNT) {
                                this.count--;
                            } else {
                                this.show = true;
                                clearInterval(this.timer);
                                this.timer = null;
                            }
                        }, 1000)
                    }
                    //请求验证码方法
                    this.loginInfo.code = '980712'   //假的验证码，要删除
                },
                //去登陆
                goLogin() {
                    window.location.href = "login.html"
                }
            }

        })
    </script>
    <script src="./js/jigsaw.min.js" type="text/babel"></script>
    <script type="text/babel">
        var jigsaws = jigsaw.init({
            el: document.getElementById('captcha'),
            width: 400, // 可选, 默认310
            height: 90, // 可选, 默认155
            onSuccess: function () {

            },
            onFail: cleanMsg,
            onRefresh: function () {
            },
        })
        function cleanMsg() {
        }

    </script>
</body>

</html>