<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/chunk.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/releaseText.css">
    <link rel="stylesheet" href="./css/element.css">
    <script src="./js/vue.min.js"></script>
    <script src="./js/element.js"></script>
    <title>总工专席</title>
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        <div class="header">
            <div class="headerBox">
                <div class="headerLogo">
                    <img src="./img/logo.png" alt />
                </div>
                <div class="headerNavBox">
                    <ul class="qfNavListBox">
                        <li> <a href="./index.html" class="navList  ">首页</a> </li>
                        <li> <a href="./information.html" class="navList ">信息汇总</a> </li>
                        <li> <a href="./release.html" class="navList ">我要发布</a> </li>
                        <li> <a href="./specialSeats.html" class="navList active">总共专席</a> </li>
                    </ul>
                </div>
                <div class="headerSearchBox">
                    <iframe style="width: 100%;height: 100%;border-radius: 8px;" scrolling="no" src="./loginStatus.html"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <!-- 内容 -->
        <div class="releaseText">
            <div class="releaseBox">
                <p style="font-size: 18px;font-weight: 600;width: 100%;border-bottom:1px solid #ccc ;height: 40px;">总工专席合作直通车</p>
                <el-form :model="releaseInfo" :rules="rules" ref="releaseInfo" class="demo-ruleForm"
                    label-position="left" label-width="100px">
                    <p class="pTitle">合作内容</p>
                    <div class="typeBox">
                        <el-input type="textarea" :autosize="{ minRows: 6, maxRows: 8}" placeholder="描述详情"
                            v-model="releaseInfo.content">
                        </el-input>
                    </div>
                    <p class="pTitle">添加视频或图片</p>
                    <div class="typeBox1">
                        <el-upload action="" list-type="picture-card" :on-change="beforeUpload" :auto-upload="false"
                            :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                            <img width="100%" :src="dialogImageUrl" alt="" v-if="fileTypeStatus">
                            <video :src="dialogImageUrl" controls="controls" v-else style="width: 100%;height: 100%;"
                                v-else></video>
                        </el-dialog>
                    </div>
                    <el-form-item label="联系人" style="margin-top: 30px;">
                        <el-input v-model="releaseInfo.name"></el-input>
                    </el-form-item>
                    <el-form-item label="联系电话" style="margin-top: 30px;">
                        <el-input v-model="releaseInfo.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="联系地址" style="margin-top: 30px;">
                        <el-input v-model="releaseInfo.dizhi"></el-input>
                    </el-form-item>
                </el-form>
                <div class="buttonBox">
                    <div class="button" @click="submitDataFn()">
                        确认提交
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footerTop">
                <span>联系我们</span>
                <span>法律援助</span>
            </div>
            <div class="footetButtom">电猫网信息共享平台 http://dianmao.com 版权所有 Copyright @ 2003-2020 State Grid Corporation of
                China（SGCC）.All rights reserved</div>
        </div>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data() {
                return {
                    releaseInfo: {
                        files: [],
                        content: '',
                        name: '',
                        phone: '',
                        dizhi: '',
                        type: ''
                    },
                    rules: {},
                    uploadData: {},
                    dialogImageUrl: '',
                    dialogVisible: false,
                    fileTypeStatus: true,
                }
            },

            computed: {},
            creted() { },
            components: {
            },
            mounted() {
                this.releaseInfo.type = this.getQueryVariable('type')

            },
            methods: {
                getQueryVariable(variable) {
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] == variable) { return pair[1]; }
                    }
                    return (false);
                },
                submitDataFn() {
                    console.log(this.releaseInfo)
                    this.$message.success('提交成功');   //请求接口成功
                },
                //删除上传内容
                handleRemove(files, fileList) {
                    var _this = this
                    const fd = new FormData();
                    this.releaseInfo.files = this.remove(this.releaseInfo.files, files.uid)
                },
                //删除图片组
                remove(arr, item) {
                    //定义一个空数组
                    var newarr = [];
                    for (var i = 0; i < arr.length; i++) {
                        // 判断原数组的元素不等于指定元素
                        console.log(parseInt(arr[i].get('uid')))
                        console.log(item)
                        if (arr[i].get('uid') != item) {
                            // 把元素添加到新的数组
                            newarr.push(arr[i]);
                        }
                    }
                    // 返回新数组
                    return newarr;
                },
                //上传内容
                beforeUpload(file) {
                    const fd = new FormData();
                    fd.append("file", file.raw);
                    fd.append("name", file.name);
                    fd.append("uid", file.uid);
                    this.releaseInfo.files.push(fd)
                },
                //预览上传内容
                handlePictureCardPreview(file) {
                    var _this = this
                    if (file.name.includes('mp4')) {
                        _this.fileTypeStatus = false
                        _this.uploadTypeStatus = false
                    } else {
                        _this.fileTypeStatus = true
                        _this.uploadTypeStatus = true
                    }
                    this.dialogImageUrl = file.url;
                    this.dialogVisible = true;
                },

            }

        })
    </script>
</body>

</html>